
@font-face {
	font-family: ichigaya;
	src: url("/TypeLightSans-KV84p.otf") format("opentype");
}
* {
	box-sizing: border-box;
}
h1 {
	font-size: 4vh;
}
h2, h3, h4 {
	margin: 0;
}
body {
	margin: 0;
	font-family: ichigaya, sans-serif;
	padding-left: max(0px, min(calc(50vw - 33vh), 15vw));
	padding-right: max(0px, min(calc(50vw - 33vh), 15vw));
	background-image: url("/background.png");
	background-size: 200px 200px;
	color: #202020;
}
main {
	position: relative;
	width: 100%;
	background-color: rgba(190, 160, 130, 0.8);
	padding: 20px;
	box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
}
.expandable-category {
	margin: 10px;
	padding: 5px;
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
	border-radius: 5px;
	background-color: rgba(232, 232, 188, 0.2);
	font-size: 2vh;
	transition-duration: 0.2s;
}
.expandable-category:hover {
	background-color: rgba(238, 238, 188, 0.3);
	box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.5);
}
table {
	border-collapse: separate;
	border-spacing: 4px;
}
th {
	text-decoration: underline;
}
th,td {
	min-width: min(100px, 20vw);
	word-break: break-word;
	max-width: 250px;
	padding: 2px;
	border-radius: 5px;
	background-color: rgba(200, 200, 200, 0.3);
}
td>a {
	width: min(15ch, 15vw);
	word-break: break-word;
}
th:not(:first-of-type), td:not(:first-of-type) {
	text-align: center;
}
code,pre {
	outline: 1px solid black;
	border-radius: 4px;
	background-color: rgba(200, 200, 200, 0.7);
}
p {
	margin-bottom: 10px;
	margin-top: 10px;
	text-indent: 1ch;
}
small {
	color: gray;
}
